:root {
    --transparent-ring: rgb(255, 255, 255, 0.1)
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #0c1022;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-image: url("bing_wallpaper_CenoteDiver_1920x1080.jpg");
    opacity: 0.5;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.ring {
    position: relative;
    width: 300px;
    height: 300px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue {
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 50%;
    background-image: conic-gradient(var(--transparent-ring), var(--transparent-ring), var(--transparent-ring), #00ccff);
    animation: animate 2s linear infinite;
}

.blue-after {
    content: "";
    position: absolute;
    top: -15%;
    width: 100px;
    height: 100px;
    background-color: #00ccff;
    z-index: 10;
    border-radius: 50%;
    filter: blur(30px);
    transform-origin: 50% calc(50px + 150px);
    transform: rotate(180deg);
    animation: animate 2s linear infinite;
}

.green {
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border-radius: 50%;
    background-image: conic-gradient(var(--transparent-ring), var(--transparent-ring), var(--transparent-ring), #00d423);
    animation: animate 2s linear -1s infinite;
}

.green-after {
    content: "";
    position: absolute;
    top: -15%;
    width: 100px;
    height: 100px;
    background-color: #00d44e;
    z-index: 10;
    border-radius: 50%;
    filter: blur(30px);
    transform-origin: 50% calc(50px + 150px);
    transform: rotate(180deg);
    animation: animate 2s linear -1s infinite;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

span {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background-color: #3a415d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-transform: uppercase;
    font-size: x-large;
}